<html>
  <head>
    <title>Encrypted Chat</title>
 
 </head>

  <body>
    <div id="main">
      <div id="triggers">
	<!-- Contains trigger buttons:
	     1: trigger_chat();
	     2: trigger_recieve_chat();
	  -->
      </div>
      <div id="textContainer">
	<!-- Contains some height. Will contain messages -->
      </div>

      <input id="textInput" name="textInput" type="text" /> <!-- will contain message input -->
    </div>
  </body>

  <script type="text/javascript" src="/chat_frontend.js"></script>
</html>
